@using Data.Models.FormulaMateriales
@using WebApp.Models.Formula
@{
    ViewData["Title"] = "Crear Fórmula";
}
@model FormulaDTO

<h1>Crear Fórmula</h1>
<form method="post" action="/Formula/Grabar" data-ajax="true" data-ajax-method="POST" id="save-form"
    data-ajax-failure="onFailure" data-ajax-success="onSuccessGrabar">
    @{
        await Html.RenderPartialAsync("PartialComponents/_DataForm", Model);
    }

</form>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
    <script type="module" src="~/js/Formula/formula.js" asp-append-version="true"></script>
}